# My Python practise

In [1]:
alpha = 'abcdefghijklmnopqrstuvwxz'

In [2]:
len(alpha)

25

In [3]:
alpha_list = []
for n in range(len(alpha)):
    alpha_list.append(alpha[n])

In [4]:
print(alpha_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'z']

In [5]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [6]:
print(nest[3][2][0])

target

#### Dictionaries

In [7]:
d = {'key1': 'a', 'key2': 123}

In [8]:
d['key1']

'a'

In [9]:
d['key2']

123

In [10]:
d2 = {'k1': [1,2,3]}

In [11]:
d2['k1']

[1, 2, 3]

In [12]:
d3 = {'k1': {'ik': ['a','b','c']}}

In [13]:
d3['k1']

{'ik': ['a', 'b', 'c']}

In [14]:
d3['k1']['ik']

['a', 'b', 'c']

In [15]:
d3['k1']['ik'][1]

'b'

#### Tuples

In [16]:
# list
my_list = [1, 2, 3]

In [17]:
my_list[0]

1

In [18]:
# tuple
t = (1, 2, 3)

In [19]:
t[0]

1

In [20]:
my_list[0] = 'new'

In [21]:
my_list

['new', 2, 3]

In [22]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

##### Tuples are immutable
- they cannot be changed

### Sets

In [23]:
{1, 2, 3}

{1, 2, 3}

In [24]:
{1, 1, 2, 3, 3}

{1, 2, 3}

In [25]:
set([1,1,1,1,1,2,2,3,4,5,6,6,6,7])

{1, 2, 3, 4, 5, 6, 7}

In [26]:
set1 = {1, 2, 3}

In [27]:
set1

{1, 2, 3}

In [28]:
set1.add(5)

In [29]:
set1

{1, 2, 3, 5}

In [30]:
set1.add(3)

In [31]:
set1

{1, 2, 3, 5}

- a set wll only return the unique numbers or characters

For loops

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehesion

In [33]:
x = [1, 2, 3, 4]

In [34]:
[num**2 for num in x]

[1, 4, 9, 16]

### Functions
- def

In [45]:
def is_odd(num):
    '''Returns True if the number is odd
       otherwise, False
    '''
    return num % 2 == 1

In [46]:
is_odd(11)

True

In [47]:
is_odd?

Signature: is_odd(num)
Docstring:
Returns True if teh number is odd
otherwise, False
File:      ~/more_ds_pract/python/<ipython-input-45-1db4b77b4984>
Type:      function

In [37]:
is_odd(2134326432545342)

False

In [38]:
is_odd(34.2321541546542)

False

In [41]:
def square(num):
    '''This function squares the number'''
    return num**2

In [42]:
square(3000)

9000000

In [43]:
square?

Signature: square(num)
Docstring: This function squares the number
File:      ~/more_ds_pract/python/<ipython-input-41-d3708298fbcd>
Type:      function

In [44]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

###

In [48]:
def times2(num):
    return num*2

#### map()

In [49]:
seq = [1, 2, 3, 4, 5]

In [51]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [53]:
# lambda expression
nn = lambda num: num*2

In [54]:
nn(6)

12

In [55]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

### Filter

In [56]:
list(filter(lambda num: num % 2 == 0, seq))

[2, 4]

### Methods

In [57]:
s = 'hello, my name is David'

In [58]:
s.lower()

'hello, my name is david'

In [59]:
s.capitalize()

'Hello, my name is david'

In [61]:
s.split()

['hello,', 'my', 'name', 'is', 'David']

In [63]:
d = {'k1': 1, 'k2': 2}

In [64]:
d

{'k1': 1, 'k2': 2}

In [65]:
d.keys()

dict_keys(['k1', 'k2'])

In [66]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [67]:
d.values()

dict_values([1, 2])

### Tuple unpacking

In [68]:
x = [(1, 2), (3, 4), (5, 6)]

In [69]:
x

[(1, 2), (3, 4), (5, 6)]

In [70]:
x[0]

(1, 2)

In [71]:
x[0][1]

2

In [72]:
# tuple unpacking
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [73]:
for (a,b) in x:
    print(a)

1
3
5

In [75]:
for a,b in x:
    print(b)

2
4
6